#p2-body {
	background-image: url("assets/product/bg_gold.jpg");
	background-size: contain;
}

#p2-mainrow {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h1 {
	font-family:'Libre Baskerville', serif;
	font-size:75px;
	color: white;
}

h3 {
	font-family:'Lato', sans-serif;
	font-style: 5px;
	color: white;
}

p {
	font-family:'Lato', sans-serif;
	color: white;
	text-align: left;
}

#p2-maincolumn {
	float: left;	
  	align-content: center;	
  	width: 45%;
  	padding: 5px;
  	padding-top: 70px;
    padding-right: 50px;
  	text-align: left;
    border-color: green;
    border-width: 5px;
}

#p2-infobox {
	float: left;	
  	align-content: left;	
  	width: 100%;
  	padding-right: 50px;
  	text-align: left;

}

.p2-button {
	border: none;
	color: #746522;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 8px;
	font-family:'Lato', sans-serif;
}

#LennyEdition {
  background-image: url("lennyEfooter.png");
  background-position: center;
  background-size: stretch; 
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#p2-lennyheader {
	font-family:'Libre Baskerville', serif;
	font-size:40px;
	color: white;
}

.show {display:block;}


.column {
  float: left;	
  align-content: center;	
  width: 30%;
  padding: 10px;
  text-align: center;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:100%) {
  .column {
    width: 100%;






