#p2-body {
  background-image: url("assets/product/bg_gold.jpg");
  background-repeat: repeat;
}

.p2-h1 {
  font-family:'Libre Baskerville', serif;
  font-size:75px;
  color: white;
}

.p2-h3 {
  font-family:'Libre Baskerville', serif;
  font-size:30px;
  color: white;
}

.p2-p {
  font-family:'Libre Baskerville', serif;
  font-size:10px;
  color: white;
}

.p2-mainrow {
  padding-top: 40px;
    padding-left: 10vw;
}

.p2-maincolumn {
  margin: 0px 0px 40px 0px;
}

.p2-inforow {
    padding-left: 10vw;
}

.p2-infocolumn {
  float: left;
    align-content: left;  
    width: 25%;
    text-align: left;
}

.p2-lennyheader{
  background-image: url("assets/product/bg_assemblage.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;  
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    color:white;
    margin:40px 40px 40px 40px;
    
}

img {
  position: relative;
    left: 0px;
    top: 0px;
    z-index: -50;
}


.lenny-column {
  display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    color:white;
    width:50%;
    padding: 10px; 
}


.p2-lennyh3 {
  font-family:'Libre Baskerville', serif;
  font-size:30px;
  color: white;
}

button.site-basicBtn {
  background-color:#8D7E3B;
  border-radius:10px;
  padding:6px 14px;
  font-family:'Libre Baskerville', serif;
  font-size:10px;
  color:white;
  text-decoration: none;
}

button:hover.site-basicBtn {
  background-color:#E5D286;
  color:black;
}

select.p2-dropdown {
  background-color:#8D7E3B;
  border-radius:15px;
  padding:6px 14px;
  font-family:'Libre Baskerville', serif;
  font-size:15px;
  color:white;
  text-decoration: none;
}

{
  box-sizing: content-box;
  float: center;
}

img{
  margin: 5px; 
  float:center;
}

{
box-sizing: border-box;
}

.img-column {
  float: left;
  width: 30%;
  padding: 5px;
  column-rule-style: dotted;
  column-rule-color: #9b8632;
} 

.img-row {
  display:flex;
    flex-wrap:wrap;
   justify-content:center;
   text-align:center;
    color:white;
   margin:0 40px 40px 40px;
}

.img-row::after {
  content: "";
  clear: both;
  display: table;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:100%) {
  .column {
    width: 100%;
