/* CAROUSEL */
.index-carousel {
  background:url(assets/index/carousel01.jpg);
  background-position:center;
  background-size:cover;
  height:541px;
  margin-bottom:40px;
}

/* VINTAGES */
.index-products {
	display:flex;
  flex-wrap:wrap;
  justify-content:center;
  text-align:center;
  color:white;
  margin:0 40px 40px 40px;
}
.index-indvProd {
  width:33%;
  padding-bottom:40px;
}
.index-indvProd h2 {
  margin:0 0 14px;
}
.index-indvProd p {
  font-size:14px;
  padding:0 24%;
}

/* LIFE w DOM */
.index-lifeWDom {
	background:url(assets/index/bg_lifeWDom.jpg);
  background-position:left;
  background-repeat:no-repeat;
  background-color:black;
	height:330px;
	margin:0 44px 40px 44px;
	color:white;
}
@media screen and (max-width: 1100px) {
  .index-lifeWDom {background-position:right;}
}
.index-lifeContent {
  float:right;
	margin:68px 80px;
  width:50%;
}
@media screen and (max-width: 600px) {
  .index-lifeContent {float:left;margin:48px 20px;width:80%;}
}

/* MEMBERSHIP */
.index-membership {
	background:url(assets/index/bg_houseMember.jpg);
  background-position:right;
  background-repeat:no-repeat;
  background-color:#9B8633;
	height:145px;
	margin:0 44px 40px 44px;
  padding:20px 60px 20px 20px;
	color:white;
}
.index-membership img {
  float:left;
  margin:10px 30px 0 0;
}
.index-newsletter {
	font-size:12px;
}
a.index-memberBtn {
	background-color:black;
  border-radius: 15px;
  margin-right:6px;
	padding:6px 14px;
	font-family: 'Libre Baskerville', serif;
	font-size:12px;
	color:white;
	text-decoration: none;
}
a:hover.index-memberBtn {
	background-color:#E5D286;
	color:black;
}
.index-newsletter a {
	color:white;
}
.index-newsletter a:hover {
	color:black;
}