

/*---------------------------------------------------------------LIFE w DOM--------------------------------------------*/
body{
  font-family:'Lato', sans-serif;
  background:url('assets/bg_site.jpg');
  margin:0;
  padding:0;
}


#theWebsite{
    font-family:'Lato', sans-serif;
}


* {box-sizing:border-box}



/* --------------------Container for adding text on top of image */
.container {
  position: relative;
  text-align: center;
  color: white;
  text.size: 100;
  height: 30%;
}
.container img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.containerText{
  position: absolute;
  top: 20%;
  left: 25%;

  font-family:'Libre Baskerville', serif;
  font-size: 8vw;
  color:#E5D286;
  font-weight: bold;  
}
a.containerButton{
  position: absolute;
  background-color:#8D7E3B;
  border-radius:15px;
  padding:6px 14px;
  font-family:'Libre Baskerville', serif;
  font-size:10px;
  color:white;
  text-decoration: none;
}
.containerImg{
  position: absolute;
  top: 20%;
  left: 25%;
  width:  5vw;

  object-fit: cover;
}
a:hover.containerButton {
  background-color:#E5D286;
  color:black;
  cursor: pointer;
}

/*-----------------------------------------IMAGE GALLERY ---------*/
/*div.gallery-parent{
	margin-left: 10%;


}
 */
div.gallery {
  position: relative;
  
}


div.gallery-parent
{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.gallery
{

}


div.gallery img {

  width:30vw;
  object-fit: cover;
}

/*First Gallery image*/
div.desc1-1 {
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 3vw;
  color:#E5D286;
}
div.desc1-2{
  position: absolute;
  top: 78%;
  left: 10%;
  font-size: 1.5vw;
  color:white;
  
}
/*Second Gallery image*/
div.desc2-1 {
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 3vw;
  color:black;
}
div.desc2-2{
  position: absolute;
  top: 78%;
  left: 10%;
  font-size: 1.5vw;
  color:white;
}
/*Third Gallery image*/
div.desc3-1 {
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 3vw;
  color:white;
}
div.desc3-2{
  position: absolute;
  top: 78%;
  left: 10%;
  font-size: 1.5vw;
  color:#E5D286;
}
/*---------------------------------NewsLetter------------------*/
.letter{
  margin-top: 10vh;
	cursor: pointer;
}
/* MEMBERSHIP */
.index-membership {
  background:url(assets/index/bg_houseMember.jpg);
  background-position:right;
  background-repeat:no-repeat;
  background-color:#9B8633;
  height:145px;
  margin:0 44px 40px 44px;
  padding:20px 60px 20px 20px;
  color:white;
}
.index-membership img {
  float:left;
  margin:10px 30px 0 0;
}
.index-newsletter {
  font-size:12px;
}
a.index-memberBtn {
  background-color:black;
  border-radius: 15px;
  margin-right:6px;
  padding:6px 14px;
  font-family: 'Libre Baskerville', serif;
  font-size:12px;
  color:white;
  text-decoration: none;
}
a:hover.index-memberBtn {
  background-color:#E5D286;
  color:black;
}
.index-newsletter a {
  color:white;
}
.index-newsletter a:hover {
  color:black;
}


/*------------------------------------------SLIDESHOW-----------------*/
.slideshow-container {
  width: 100vw;
  position: relative;
  margin: auto;
}

.mySlides
{
  height:100%;
  width: 100%%;
}

/* Hide the images by default */
.mySlides img {
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #E5D286;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  position: relative;
  top: -50px; 
  left: 0px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #E5D286;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}