
body{
  background-color: #d1d1d1;
  width: 100%;
  margin: auto;
}


#theWebsite{
	font-family: Georgia, Palatino, Times;
}

/* Home Bar */

#homeBar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 4;
  top: 0;	
  list-style-type: none;
  margin: 0;
  padding: 2;
  overflow: hidden;
  background-color: #333;
  height: 5vh;
}

#barItem,#barItemUser{
  float: left;
}


#barItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.8em 1em;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#barItem a:hover {
  background-color: #de8b04;
}
#barItemUser a:hover{
  background-color: #de8b04;
}
#barItemUser a{
  display: block;
  color: white;
  text-align: center;
  padding: 0.8em 1em;
  text-decoration: none;
}

* {box-sizing:border-box}



/* --------------------Container for adding text on top of image */
.container {
  position: relative;
  text-align: center;
  color: white;
  text.size: 100;
}

.leftCentered{
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 10em;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

/*-----------------------------------------IMAGE GALLERY ---------*/
/*div.gallery-parent{
	margin-left: 10%;


}
 */
div.gallery {
  position: relative;
    border: 0px solid #ccc;
    

	border-style: solid;
	overflow: auto;
}


div.gallery-parent
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100vw;
}

div.gallery
{
  width: 30vw;


}

div.gallery:hover {
  border: 5px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  position: relative;
}

div.desc {
  position: absolute;
  top: 70%;
  left: 40%;
  font-size: 2vw;
  color:gold;
  transform: translate(-50%, -50%);
}
/*---------------------------------NewsLetter------------------*/
.letter{
	cursor: pointer;
}


/*------------------------------------------SLIDESHOW-----------------*/
/* Slideshow container */
.slideshow-container {
  width: 100vw;
  height: 95vh;
  position: relative;
  margin: auto;
}

.mySlides
{
  height:100%;
  width: 100%%;
}

/* Hide the images by default */
.mySlides img {
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gold;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  position: relative;
  top: -50px; 
  left: 0px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 4px;
  background-color: gold;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}