body {
	font-family:'Lato', sans-serif;
	background:url('assets/bg_site.jpg');
	margin:0;
	padding:0;
}
h1 {
	font-family:'Libre Baskerville', serif;
	font-size:42px;
}
h2 {
	font-family:'Libre Baskerville', serif;
	font-size:36px;
}
.life {
	font-family:'Bebas Neue', cursive;
}
#site-header {
	background-color: black;
	width:100%;
	height:48px;
	margin-top:0; /* required */
	padding:20px;
	position:fixed;
	z-index:2;
}
#site-menu {
	background-color:#8D7E3B;
	height:0;
  	width:100%;
  	margin-left:0;
 	margin-top:0;
 	position:fixed;
 	overflow-x:hidden;
 	transition:0.5s;
 	z-index:3;
}
.site-nav {
  	text-align:center;
  	padding-top:32px;
	font-family:'Libre Baskerville', serif;
	color:#746522;
}
.site-nav a {
	color:#000;
	text-decoration:none;
	margin-left:12px;
	margin-right:12px;
}
.site-nav a:hover {
	color:#E5D286;
}
#site-burger {
	position:absolute;
	cursor:pointer;
	right:66px;
	padding:14px;
}
#site-closeBtn {
	position:absolute;
	cursor:pointer;
	right:14px;
	padding:32px;
}
img.site-domLogo {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#site-main {
	padding-top:88px;
}
a.site-basicBtn {
	background-color:#8D7E3B;
  	border-radius:15px;
	padding:6px 14px;
	font-family:'Libre Baskerville', serif;
	font-size:10px;
	color:white;
	text-decoration: none;
}
a:hover.site-basicBtn {
	background-color:#E5D286;
	color:black;
}
.site-footer {
	height:200px;
	background:white;
	color:lightgrey;
	text-align:center;
	padding-top:40px;
}
.site-footer a {
	font-family:'Libre Baskerville', serif;
	font-size:11px;
	color:#E5D286;
	text-decoration:none;
	margin-left:12px;
	margin-right:12px;
}
.site-footer a:hover {
	color:#746522;
}
.site-footer p {
	margin-top:12px;
	font-style:italic;
	font-size:9px;
}